body {
  font-family: 'Roboto', Helvetica, sans-serif;
  background-color: #ffffff;
  margin: 1em;
  padding: 0;
  font-size: 1.2em;
  font-weight: 200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Stick No Bills', 'Roboto', Helvetica, sans-serif;
}

.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100%;
}

.main-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.main-nav ul li {
  flex: 1;
  text-align: center;
}

.main-nav ul li a {
  display: block;
  color: inherit;
  text-decoration: none;
  font-size: 1.25rem;
}


.site-footer {
  padding: 2rem 0;
}

.skip-to-footer, .skip-to-header, .skip-to-contact{
  text-decoration: none;
  border: 1px black solid;
  padding: .5em;
  color: rgb(0, 0, 0);
}

.skip-to-footer:hover, 
.skip-to-header:hover, .skip-to-contact:hover {
  background-color: rgb(111, 111, 111);
  color: white;
}

.skip-to-header {
  display: flex;
  
}